html {
    background-color: #282a36;
}
body{
	font-family: Lucida Sans Unicode, sans-serif;
	color: #bd93f9;
}
.header {
    padding: 5px;
    text-align: center;
    font-size: 40px;
    //background-color: #ccc;/*for testing*/
	color: #50fa7b;
}
.header h1{
	font-family: 'groovy_ghostiesregular',Helvetica, sans-serif;
	text-shadow: 2px 2px 10px #30da5b;
}
.header h2{
    font-size: 20px;
	font-family: Lucida Sans Unicode, sans-serif;
	font-style: italic;
	text-shadow: 1px 1px 10px #30da5b;
}
.user-input-row {
    padding: 10px;
    //background-color: #ddd;/*for testing*/
    display: -webit-flex;
    display: flex;
}
.required-input-column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    //background-color:#eee;/*for testing*/
}
.optional-input-column {
    -webkit-flex: 1;
    -ms-flex: 1;
    padding: 10px;
    //background-color:#aaa;/*for testing*/
}
.passphrase-row {
    padding: 5px;
    //background-color: #ccc;/*for testing*/
}
.file-select-row {
    padding: 5px;
    //background-color: #ddd;/*for testing*/
}
.processing-row {
    display: -webkit-flex;
    display: flex;
}
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    //background-color: #aaa; /*for testing*/
}
.process-button-column {
    -webkit-flex: 1;
    -ms-flex: 1;
    display: flex;
    flex: .25;
    padding: 10px;
    //background-color: #bbb; /*for testing*/
    align-items: center;
    justify-content: center;
}

textarea, #passphrase {
	background-color: #f8f8f2;
	color: #44475a;
}

.download-file-row {
    padding: 5px;
    //background-color: #eee; /*for testing*/
}

@font-face {
	font-family: 'groovy_ghostiesregular';
	src: url('./fonts/groovy_ghosties-webfont.woff2') format('woff2'),
		 url('./fonts/groovy_ghosties-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
